
body{
    font-family: inherit;
}

.main-wrapper {
    width: 1100px;
    margin: auto;
}

.maintitle {
    background-color: #F4F5F7;
    padding: 50px 120px 50px 120px;
}

.maintitle #about {
    font-size: 28px;
}

.myCart {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

table {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

table th {
    padding: 10px;
    font-size: 18px;
    font-weight: 500px;
    letter-spacing: 1px;
}

table td {
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}

table .bg-gray {
    background-color: #f4f5f7;
}

.coup {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 50px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding: 10px;
}

.flex-container {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: stretch;
}

.flex-container-update-cart {
    display: grid;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-item-left {
    padding: 10px;
}

.flex-item-right {
    padding: 10px;
}

.grand-total-wrap {
    border: 1px solid #bfbfbf;
    background: #f9f9f9;
    padding: 0px 30px 0;
}

.button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h6 {
    font-size: 18px;
}

.discount-code input {
    margin-bottom: 30px;
    border: 2px solid #ccc;
    color: #000;
    border-radius: 0;
    padding: 18px 15px 15px;
}

ul {
    list-style: outside none none;
    padding: 0;
}

.grand-total-wrap>.grand-total-content>ul>li {
    /* font-weight: bold; */
    padding: 16px;
}

#total {
    float: right;
}

.proceed {
    margin-top: 30px;
}

.proceed .button {
    width: 100%;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.qua {
    text-align: center !important;
}

input[type=number] {
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;
    font-family: inherit;
}