
body{
    font-family: inherit;
}

.maintitle {
    background-color: #F4F5F7;
    padding: 50px 120px 50px 120px;
}

.maintitle #about {
    font-size: 28px;
}

.mainContent{
    margin: 30px 120px 20px 120px;
}

.details{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    grid-gap: 10px;
    margin: 20px;
    padding: 20px 0;
}

.detailsNew {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	justify-content: space-between;
	grid-gap: 10px;
	margin: 25px;
	padding: 41px 0;
}

.detailsNew .myleft{
    grid-column: 1 / span 5;
}

.detailsNew .myright{
    width: 400px;
}

.split{
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
    gap: 20px;
}

#touch{
    font-size: 18px;
    color: var(--secondary-color);
}

.detailsNew input{
    box-sizing: border-box;
	border: 1px solid #e8e8e8;
	height: 50px;
	background-color: transparent;
	padding: 2px 20px;
	color: #777;
	width: 100% !important;
}

#inputss{
    font: inherit;
    font-size: 16px;
}

.innerContent{
    margin: 0px 0px 20px;
}

textarea {
    min-height: 125px;
    margin-bottom: 20px;
    box-sizing: border-box;
	border: 1px solid #e8e8e8;
	height: 50px;
	background-color: transparent;
	padding: 2px 20px;
	color: #777;
	width: 100%;
}

.social{
    padding: 20px !important;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px; 
    justify-content: space-evenly;  
}

input.placeOrderButton {
    text-align: center;
    box-sizing: border-box;
    padding: 0 42px;
    height: 46px;
    background: #000;
    color: #fff;
    width: 100%;
    font-size: 16px;
}

.ll{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

#myLogo{
    margin: 15px;
    height: 24px;
}