
body{
    font-family: inherit;
}

.carousal{
    min-height: 500px;
    background-image: url("../img/home-default-1.webp");
    background-color: #F3F5F7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 700px;
    position: relative;
}

.carousal .title{
    position: absolute;
    left: 18%;
    top: 30%;
    transform: translateY(-30%);
    font-size: 40px;    
}

.title #sec{
    font-size: 30px;
    color: var(--secondary-color);
}

button#shop{
    font-size: 14px;
    color: var(--header-footer-bg);
    border: 1px solid black;
    background-color: black;
    margin-top: 30px;
    padding: 8px 16px 8px 16px;
}

button#shop:active {
    position: relative;
    top: 1px;
}

button{
    transition: all 0.5s;
}

button#shop:after {
    content: '->';
    position: absolute;
    color: white;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button#shop:hover{
    padding-right: 24px;
    padding-left:8px;
    color: #001F3F;
    background-color: #fff;
  }
  
  button#shop:hover:after {
    opacity: 1;
    right: 10px;
  }


.featured{
    margin: 0px 70px 0px 0px;
    min-height: 500px;
    background-image: url("../img/df-2.webp");
    /* background-color: #F3F5F7; */
    background-position: right center;
    background-repeat: no-repeat;
    /* background-size: auto 700px; */
    position: relative;
}


.featured .title{
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translateY(-30%);
    font-size: 40px;   
}

.sale{
    min-height: 500px;
    background-image: url("../img/h1-countdown.webp");
    background-color: #F3F5F7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 700px;
    position: relative;
}

.sale .title{
    position: absolute;
    left: 10%;
    top: 30%;
    transform: translateY(-30%);
    font-size: 40px;   
}

.imgsgrid {
    margin: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.blogsGrid{
    margin: 25px 0px 25px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}


#heading{
    margin: 0px;
    padding: 0px;
}

.myitems{
    text-align: center;
    position: relative;
}

.contentTitle{
    padding: 10px;
}

.blogsGrid .myitems{
    padding: 20px;
    text-align: left;
}

#discount{
    position: absolute;
    right: 8%;
    top: 3%;
    padding: 4px 8px 4px 8px;
    color: white;
    background-color: gray;
}

#outOfStock{
    position: absolute;
    right: 8%;
    top: 3%;
    padding: 4px 8px 4px 8px;
    color: white;
    background-color: darkgrey;
}

#price{
    color: gray;
}

.bestSelling #heading{
    text-align: center;
    font-size: 30px;
    color: var(--secondary-color);
}

.services{
    height: 400px;
}

.services #heading{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    color: var(--secondary-color);
}

#myblogimgs{
        width:auto;
        height:175px;
        overflow:hidden;
} 

.newsL{
    font-size: 18px;
    height: 200px;
    text-align: center;
    color: var(--secondary-color);
}

.newsletter .input-box{
    border: 1px gray solid;
    border-right-width: 0px;
    padding: 10px 20px;
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 0px 10px -5px black;
}

.newsletter .submit{
    border: 1px gray solid;
    border-left-width: 0px;
    padding: 10px 25px;
    font-size: 16px;
    box-shadow: 5px 0px 12px -10px black;
}
