
body{
	font-family: inherit;
}

.maintitle {
    background-color: #F4F5F7;
    padding: 50px 120px 50px 120px;
}

.maintitle #about {
    font-size: 28px;
}

.container{
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	padding: 30px 50px 30px 50px;
	text-align: center;
}

.leftpane, .middlepane, .rightpane{
	background-color: #F4F5F7;
	margin: 20px;
	padding: 20px;
	width: 250px;
	height: auto;
}

.myImg{
	height: 80px;
}